<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/global :: head" />
<body>
    <nav th:replace="fragments/global :: navbar ('repoList')"/>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><small>Repository item</small></h4>
                <div class="list-group-item-text">
                    <dl class="dl-horizontal">
                        <dt>ID</dt>
                        <dd>
                            <a th:href="@{'/pages/repoView/' + ${backup.repo.id}}" th:text="${backup.repo.id}"/>
                        </dd>
                        <dt>Path</dt>
                        <dd th:text="${backup.repo.path}" />
                    </dl>
                </div>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Backup item</h4>
                <div class="list-group-item-text">
                    <dl class="dl-horizontal">
                        <dt>ID</dt>
                        <dd th:text="${backup.id}" />
                        <dt>Path</dt>
                        <dd th:text="${backup.path}" />
                    </dl>
                    <ul class="list-inline">
                        <li>
                            <form th:action="@{/action/backup/sync}" method="post">
                                <input type="hidden" name="backupId" th:value="${backup.id}" />
                                <input type="submit" value="Synchronize" class="btn btn-default disableButtonOnClick" />
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <table class="table table-hover">
            <caption>Version list</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="version : ${backupVersionList}">
                    <td>
                        <a th:href="@{'/pages/versionView/' + ${version.id}}" th:text="${version.id}"/>
                    </td>
                    <td th:text="${version.createdDate} ? ${#dates.format(version.createdDate, '__#{date.format}__')}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center" th:if="${#lists.isEmpty(backupVersionList)}">
                        No items
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/global :: script"/>
</body>
</html>