<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/global :: head" />
<body>
    <nav th:replace="fragments/global :: navbar ('repoList')"/>

    <div class="container">
        <table class="table table-hover">
            <caption>
                <div class="row">
                    <div class="col-md-9">
                        Repository list
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/pages/repoCreate}" role="button">Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Repository path</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="repo : ${repoList}" th:class="${selectedRepoId} == ${repo.id} ? 'active'">
                    <td>
                        <a th:href="@{'/pages/repoView/' + ${repo.id}}" th:text="${repo.id}"/>
                    </td>
                    <td th:text="${repo.path}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center" th:if="${#lists.isEmpty(repoList)}">
                        No items
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/global :: script"/>
</body>
</html>