<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/global :: head" />
<body>
    <nav th:replace="fragments/global :: navbar ('taskList')"/>

    <div class="container" id="taskListContainer" th:fragment="taskListFragment">
        <table class="table table-hover">
            <caption>Active tasks</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Percent</th>
                    <th class="col-md-1">Interrupt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${activeTaskList}" th:class="${selectedTaskId} == ${task.id} ? 'active'">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.status}"></td>
                    <td th:text="${task.name}"></td>
                    <td>
                        <div class="progress" style="margin-bottom: 0 !important;">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"
                                 th:attr="aria-valuenow=${task.percent}"
                                 th:style="'width: ' + ${task.percent} + '%;'"
                                 th:text="${#numbers.formatDecimal(task.percent, 0, 'DEFAULT', 2, 'DEFAULT')} + '%'">
                            </div>
                        </div>
                    </td>
                    <td>
                        <p th:if="${task.stopping}">Interrupted</p>
                        <a th:if="${!task.stopping}" th:text="Interrupt" th:href="@{/action/task/interrupt(taskId=${task.id})}" class="btn btn-default btn-xs"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center" th:if="${#lists.isEmpty(activeTaskList)}">
                        No items
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover">
            <caption>Completed tasks</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Finish time</th>
                    <th>Message</th>
                    <th class="col-md-1">Callback</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${completedTaskList}" th:class="${selectedTaskId} == ${task.id} ? 'active'">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.status}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.finishTime} ? ${#dates.format(task.finishTime, '__#{date.format}__')}"></td>
                    <td th:text="${task.message}"></td>
                    <td>
                        <a th:if="${task.resultUrl != null}" th:href="@{${task.resultUrl}}">Result</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center" th:if="${#lists.isEmpty(completedTaskList)}">
                        No items
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/global :: script"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function updateTaskList() {
            var link = /*[[@{/pages/taskList(fragment=true,selected=${selectedTaskId})}]]*/ '';
            $.get(link, function(data) {
                $("#taskListContainer").replaceWith(data);
            });
        }
        $(document).ready(function() {
            setInterval(updateTaskList, 3000);
        });
        /*]]>*/
    </script>
</body>
</html>