<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="logs/megy-server-app.log"/>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="ru.megy" level="DEBUG"/>
	<logger name="org.hibernate.transaction" level="INFO"/>
	<logger name="org.springframework.orm.jpa" level="INFO"/>
	<logger name="org.springframework.jdbc" level="INFO"/>
	<logger name="org.springframework.transaction" level="INFO"/>
</configuration>
