<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/global :: head" />
<body>

    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h2>Error page</h2>
            <p>
                <dl>
                    <dt>Message</dt>
                    <dd th:text="${exception.localizedMessage}" />
                    <dt>URL</dt>
                    <dd th:text="${url}" />
                    <dt>Timestamp</dt>
                    <dd th:text="${timestamp} ? ${#dates.format(timestamp, '__#{date.format}__')}" />
                </dl>
            </p>
        </div>
    </div>

<div th:replace="fragments/global :: script"/>
</body>
</html>