<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/global :: head" />
<body>
    <div class="container tile-container">
        <div class="row">
            <div class="col-md-6">
                <a th:href="@{/pages/backupList}">
                    <div class="tile div-red">
                        Megy Server
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a th:href="@{/h2-console}">
                    <div class="tile div-green">
                        H2 console
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/global :: script"/>
</body>
</html>