<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/global :: head" />
<body>
    <nav th:replace="fragments/global :: navbar ('repoList')"/>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" th:each="group : ${result}">
                <a href="#{group.key}"><h4 class="list-group-item-heading" th:text="${group.key}"/>
                <div id="${group.key}" class="list-group-item-text">
                    <ol>
                        <li th:each="path : ${group.value}" th:text="${path}"/>
                    </ol>
                </div>
            </li>
        </ul>
    </div>

    <div th:replace="fragments/global :: script"/>
</body>
</html>